.header {
  padding: 50px 0 20px;
  background: $clouds;
  border-bottom: 1px solid darken($clouds, 5%);
}
.site-name {
  font-size: 2.5em;
  @include bp($bp-small) {
    font-size: 3em;
  }
  @include bp($bp-medium) {
    font-size: 4em;
  }
  @include bp($bp-large) {
    font-size: 5em;
  }
}